<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Principal Page - Index</h1>
    <ul>
        <li><a href="{% url 'createRegister' %}">Registrar Placa</a></li>
        <li><a href="{% url '' %}">View entered vehicles</a></li>
    </ul>
    <img src="https://media.istockphoto.com/id/1356364287/es/foto/primer-plano-enfoque-en-las-manos-de-la-persona-escribiendo-en-el-teclado-retroiluminado-de-la.jpg?s=612x612&w=0&k=20&c=ApaqEB1LBdZVT5w54rmMHTrRrH2tErtPu7u08fDSE7U=" width="500">
</body>
</html>